/*
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.1.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

.center-block {
  width: 100%;
}

footer {
  position: relative;
  font-size: 14px;
  color: black;
  z-index: 100;
}

.home-area-footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}

.contact-form input,
textarea {
  display: block !important;
  width: 100% !important;
  margin-bottom: 10px;
  background-color: #fcfcfc !important;
}
.contact-form label {
  color: black;
}
.contact-title {
  color: black;
  margin-bottom: 50px;
}
.btn.button-scheme {
  background-color: black !important;
  border: none !important;
  margin-top: 10px;
  border-radius: 0px !important;
  padding: 15px 30px;
}

.contact-footer {
  margin-top: 50px;
}

.contact-info {
  color: black;
}

.info-value > * {
  color: black !important;
}
.spotify {
  font-size: 25px;
  color: black;
}
.img-thumbnail-filmografia {
  width: 100%;
}
.film-card {
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .contact-info {
    text-align: center;
  }
  .contact-footer {
    margin-top: 20px;
  }
}
@media (max-width: 767.98px) {
  .home-area-footer {
    padding: 20px;
    background-color: #f9f9f9;
  }
}
